@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
}

body {
  margin: 0;
}

form {
  width: 350px;
  margin: 50px auto;
  padding: 10px;
}

form div {
  margin-top: 15px;
}

label {
  font-weight: 400;
}

input,
select,
textarea {
  background-color: #dfdede;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  resize: none;
}

button {
  background-color: orangered;
  color: white;
  padding: 6px 25px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

nav {
  background-color: #ebeaea;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 25px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li .active {
  color: orangered;
}

.nav-left {
  flex: 50%;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.nav-right a {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
}

#barsmenu {
  display: none;
}

.hamburger-nav-container {
  font-size: 23px;
  list-style-type: none;
  display: none;
}

.hamburger-nav-container a {
  text-decoration: none;
  color: #fff;
  background-color: #9a9a9a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #fff;
}

.hamburger-nav-container .hamburger-active {
  text-decoration: none;
  color: #fff;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #fff;
}

@media only screen and (max-width: 900px) {
  .blog .blog-list .blog-list-item {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  section {
    flex-direction: column;
  }
  
  .blog-form .form-container {
    width: 90%;
  }

  .item-collapse {
    display: none;
  }

  #barsmenu {
    display: block;
  }
}